# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Node modules
node_modules

# Optional npm cache directory
.npm

# Cverage output folder
coverage

# Distribution folder
dist

# GH pages output directory
pages
